<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.roze.nasceniasqa">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".FirebaseLink"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".exit"
            android:theme="@style/Theme.translucent" />
        <activity
            android:name=".signIn"
            android:theme="@style/Theme.noTitlebar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".push_msg"
            android:label="Send News" />
        <activity
            android:name=".display"
            android:label="Display Deatils" />
        <activity
            android:name=".profile"
            android:theme="@style/Theme.translucent" />
        <activity
            android:name=".about"
            android:theme="@style/Theme.translucent" />
        <activity android:name=".setting"></activity>

        <service
            android:name=".notify"
            android:enabled="true"
            android:exported="true" />

        <receiver android:name=".receiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>